/* You can add global styles to this file, and also import other style files */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

@media (min-width: 1024px) {
  html {
    font-size: 11px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 15px;
  }
  .container__banner{
    max-width: 800px;
  }
  .container__section{
    max-width: 1300px;
  }
  .container__footer{
    max-width: 1200px;
  }
}
@media (min-width: 1400px) {
  html {
    font-size: 16px;
  }
  .container__banner{
    max-width: 900px;
  }
}
@media (min-width: 1500px) {
  html {
    font-size: 17px;
  }
  .container__section{
    max-width: 1400px;
  }
}
@media (min-width: 1600px) {
  html {
    font-size: 18px;
  }
  .container__section{
    max-width: 1600px;
  }
  .container__footer{
    max-width: 1400px;
  }
}
@media (min-width: 1700px) {
  html {
    font-size: 19px;
  }
  .container__banner{
    max-width: 1300px;
  }
  .container__section{
    max-width: 1700px;
  }
  .container__footer{
    max-width: 1600px;
  }
}
@media (min-width: 1800px) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 1900px) {
  html {
    font-size: 22px;
  }
}
@media (max-width: 410px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 380px) {
  html {
    font-size: 13px;
  }
}
